.n-drawer-mask,
.n-modal-mask {
  background: #042E4DA8;
  backdrop-filter: blur(5px);
}

.no-mask .n-drawer-mask,
.no-mask .n-modal-mask {
  background: transparent;
  backdrop-filter: none;
}

.base-card {
  border-radius: 20px;
}

.base-card .n-card__content {
  padding: 24px !important;
}

.base-card-small .n-card__content {
  padding: 8px !important;
}

.confirm-card {
  border-radius: 24px;
}

.confirm-card .n-base-close {
  display: none;
}

.c-tabs .n-tabs-pane-wrapper {
  display: none;
}

.c-tabs .n-tabs-nav {
  height: 48px;
}

.c-tabs .n-tabs-tab__label {
  font-size: 14px;
}

.c-tabs .n-tabs-rail {
  background: #fff;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #ededf1 !important;
}

.c-tabs .n-tabs-capsule {
  background: #f6f7f9 !important;
  border: 1px solid #ededf1 !important;
  box-shadow: none !important;
  border-radius: 8px !important;
}

.c-tabs.full-tab {
  width: 100%;
}

.c-tabs.full-tab .n-tabs-tab-wrapper {
  width: auto;
  flex-grow: 1 !important;
}

.c-tabs .n-tabs-tab-wrapper .n-tabs-tab {
  padding-left: 20px;
  padding-right: 20px;
}

.search-input {
  --n-height: 48px !important;
}

.search-input .n-input__border,
.search-input .n-input__state-border {
  @apply border border-grey-100;
  border-radius: 10px;
}

.search-input .n-input__input-el {
  padding-top: 5px;
}

.search-input.medium {
  --n-height: 48px !important;
}

.c-input-grey {
  @apply bg-grey-50;
  border-radius: 10px;
  --n-border: 1px solid #EDEDF1 !important;
  --n-border-focus: 1px solid #00aaff !important;
  --n-box-shadow-focus: 0 0 0 3px #00aaff40 !important;
  --n-border-hover: 1px solid #EDEDF1 !important;
}

.c-datepicker-grey .n-input {
  background: #f6f7f9 !important;
  border-radius: 10px;
  --n-border: 1px solid #EDEDF1 !important;
  --n-border-focus: 1px solid #00aaff !important;
  --n-box-shadow-focus: 0 0 0 3px #00aaff40 !important;
  --n-border-hover: 1px solid #EDEDF1 !important;
}

.c-datepicker-grey .n-input.n-input--focus {
  background: #fff !important;
}

.c-datepicker-grey .n-input__border,
.c-datepicker-grey .n-input__state-border {
  --n-border: 1px solid #EDEDF1 !important;
  border-radius: 10px;
}

.c-datepicker-grey.large .n-input {
  --n-height: 44px !important;
}

.n-checkbox-box {
  border-radius: 5px !important;
}

.c-pagination .n-pagination-item {
  border-radius: 8px;
  @apply border border-grey-100;
  width: 40px;
  height: 40px;
}

.c-select-grey {
  @apply p-4 bg-grey-50 border border-grey-100 rounded-[10px];
}

.c-select-grey:focus {
  box-shadow: 0px 0px 0px 3px #00aaff40;
  @apply outline-1 outline-blue-500;
}

.select-grey .n-base-selection-label {
  --n-color: #f6f7f9 !important;
  --n-placeholder-color: #363944 !important;
  border-radius: 12px;
}

.select-grey .n-base-selection__state-border,
.select-grey .n-base-selection__border {
  border-radius: 12px;
}

.select-grey .n-base-selection:hover .n-base-selection__state-border {
  border-color: transparent !important;
  box-shadow: none !important;
}

.select-grey.n-select .n-base-selection--active .n-base-selection__state-border, .select-grey.n-select .n-base-selection--focus .n-base-selection__state-border {
  border-color: #00aaff !important;
  box-shadow: 0px 0px 0px 4px #00aaff40 !important;
}

.c-scrollbar.n-scrollbar > .n-scrollbar-container {
  padding-right: 16px !important;
  margin-right: -16px !important;
}

.large-treeview .n-tree-node-content .n-tree-node-content__text {
  font-size: 18px;
}

.large-treeview .n-tree-node {
  padding: 5px 12px !important;
}

.large-treeview .n-base-icon svg {
  width: 20px;
  height: auto;
}

.c-avatar img {
  width: 80px;
  height: 90px;
  border-radius: 4px;
  object-fit: cover !important;
  @apply border border-grey-100;
}

.c-avatar.c-avatar-large img {
  width: 120px;
  height: 130px;
}
/*# sourceMappingURL=naive-custom.css.map */